{% extends "layout.html" %}

{% block body %}

<div class="page-header" style="font-weight:normal">
  <h1>About MEDuele</h1>
</div>
<div>
  <h4>MEDuele connects low-income patients to customized health information and resources.</h4>

  <p>People seeking medical advice can call into our dedicated hotline and leave a message describing their request or ailment.  Verified volunteers
  will listen to the call via this web application.  The volunteers can provide a translation if necessary, and are able to call
  the person back via the browser.  Volunteers will typically act as triage by sending callers to local health
  providers, such as a free clinic with available translators.</p>

  <p>This service was built after observing the overcrowded free clinics in the South Bay area.  Many of these clinics
  could only stay open for a few hours a week and translators are often in short supply.  A free, crowd-souced hotline 
  that is avaialble 24/7 can provide a small level of comfort to those seeking medical advice.</p>

  <h4>The Team</h4>

  <p>Work on MEDuele began during the Cal Health Data Hackathon.  The team is made up of Will Patrick, 
  <a href='http://www.stchangg.com'>Stephanie Chang</a>, Patrick Ye, and <a href='https://github.com/yosemitebandit'>Matt Ball</a>.</p>

  <p>We're still adding little features here and there -- feel free to get in touch if you'd like to learn more!  We can
  be reached via this email address: callmeduele [at] gmail.com  You can also find the entire project on 
  <a href='https://github.com/yosemitebandit/meduele'>Github</a>.</p>

</div>
{% endblock %}
