{% extends "layout.html" %}

{% block body %}
<div class="page-header" style="font-weight:normal">
    <h1>Contact MEDuele</h1>
    <p>We're still developing, feel free to get in touch!  callmeduele [at] gmail.com.</p>
    <p>Check us out on <a href='https://github.com/yosemitebandit/meduele'>Github</a>.
    <p>This was built initially at the Cal Health Hackathon by Will Patrick, <a href='http://www.stchangg.com'>Stephanie
      Chang</a>, Patrick Ye, and <a href='http://yosemitebandit.com'>Matt Ball</a>.</p>
</div>	
{% endblock %}
