{% extends "layout.html" %}

{% block body %}


<div class="hero-unit">
  <h1 class='highlight'>MEDuele</h1>
  <br />

  <div class='row'>
    <h1 class='highlight' style='font-size:34px; margin-left:20px'>Connecting patients to health information and resources.</h1>
  </div>
  <br />
  <br />

  <div class='row'>
    <div class='span6'>
      <h2 class='highlight'>Looking for medical advice?</h2>
      <h2 class='highlight'>Dial <span style="color:#1930FF"> 650-262-5300</span></h2> 
    </div>

    <div class='span6 offset2'>
      <h2 class='highlight'>Want to become a volunteer?</h2>
      <a class="btn success large" style='margin-top:5px;' href="{{ url_for('register') }}">Sign Up&nbsp; &raquo;</a>
    </div>
  </div>


</div>

<div class="row">
  <div class="span-one-third">
    <h2>1. Patients call <br>650-262-5300</h2><br>
  </div>
  <div class="span-one-third">
    <h2>2. Volunteers select cases.</h2><br>
  </div>
  <div class="span-one-third">
    <h2>3. Volunteers provide advice to patients.</h2><br>
  </div>
</div>

<div class='row'>
  <div class='span-one-third'>
    <img class="thumbnail" src="{{ url_for('static', filename='img/Step1.png') }}" alt=""/><br>
  </div>
  <div class='span-one-third'>
    <img class="thumbnail" src="{{ url_for('static', filename='img/Step2.png') }}" alt=""/><br>
  </div>
  <div class='span-one-third'>
    <img class="thumbnail" src="{{ url_for('static', filename='img/Step3.png') }}" alt=""/><br>
  </div>
</div>

<div class='row'>
  <div class='step-description span-one-third'>
    <p>Patients call our hotline, select their language, and then leave a message detailing their symptoms.</p>
  </div>
  <div class='step-description span-one-third'>
    <p>Volunteers select these messages, review notes from previous calls, and then call the patient.</p>
  </div>
  <div class='step-description span-one-third'>
    <p>Volunteers speak with patients about their symptoms and provide medical advice.</p>
  </div>
</div>

{% endblock %}

