{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>{{ languageName }} Language Hub</h1>
  </div>
  {% if notVerified %}
  <div class='offset1 span8'>
    <div class="alert-message warning span11">
      <!--<a class="close" href="#">&times;</a>-->
      <p><strong>Sorry!</strong>  We're still working on getting you verified.  Hang tight!</p>
    </div>
  </div>
  {% else %}

  {% endif %} {# /verifed check #}
</div><!-- /container -->
{% endblock %}

