<!doctype html>
<title>MEDuele</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1><a href="{{ url_for('show_home') }}">MEDuele</a></h1>
    <div class=metanav>
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">log in</a>
        {% else %}
          <a href="{{ url_for('show_users', emailAddress=session.emailAddress) }}">{{ session.emailAddress }}</a>
          <br />
          <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

