<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MEDuele</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js') }}"></script>

        <style type="text/css">
            body {
                padding-top: 60px; /* push off the topnav */
            }
            .container > footer p {
                text-align: center; /* center align it with the container */
            }
            .hero-unit {
                background-color: #74b4e2;
                margin-top: -45px;
            }
            .highlight {
                color: #fdfdfd;
                text-shadow:rgba(0, 0, 0, 0.496094) 0 1px 2px;
            }

        </style>

        {% block head %}{% endblock %}

    </head>
    <body>
        <div class="topbar-wrapper" style="z-index: 5;">
            <div class="topbar" data-dropdown="dropdown" >
                <div class="topbar-inner">
                    <div class="container">
                        <h3><a href="{{ url_for('show_home') }}">MEDuele</a></h3>
                        <ul class="nav">
                            <li><a href="{{ url_for('show_new_cases') }}">Cases</a></li>
                            <li><a href="{{ url_for('show_leaderboard') }}">Leaderboard</a></li>
                        </ul>

                        {% if session.userName %}
                        <ul class="nav secondary-nav">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle">{{ session.userName }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('show_new_cases') }}">Cases</a></li>
                                <li><a href="{{ url_for('show_profile', userName=session.userName) }}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            </ul>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="nav secondary-nav">
                            <form action="{{ url_for('login') }}" method='post'>
                                <input type="text" class='small' id='userName' name='userName' placeholder="Username" size='20' />
                                <input type="password" class='small' id='password' name='password' placeholder="Password" size='20' />
                                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                                <button class="btn primary" type='submit'>Log In</button>
                            </form>
                        </ul>
                        {% endif %}
                    </div>
                </div><!-- /topbar-inner -->
            </div><!-- /topbar -->
        </div><!-- /topbar-wrapper -->

        <div class='container'>

            {% block body %}{% endblock %}

            <footer>
            <p>
            <a href="{{ url_for('show_home') }}">Home</a> 
            &nbsp; 
            <a href="{{ url_for('show_leaderboard') }}"> Leaderboard </a>
            &nbsp; 
            <a href="{{ url_for('show_about') }}"> About Us </a>
            &nbsp; 
            <a href="{{ url_for('show_contact') }}">Contact</a>
            &nbsp; 
            <p>
            <p>
            &copy; MEDuele 2011
            </p>
            </footer>
        </div>

    </body>

</html>
