<!doctype html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<title>MEDuele</title>
    	<meta name="description" content="">
    	<meta name="author" content="">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='docs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
		
    {% block head %}{% endblock %}
    
	</head>
<body>
<!-- Topbar
    ================================================== -->
	
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{{ url_for('show_home') }}">MEDuele</a>
          
          <!-- This decides whether to use the logged-in nav or not-logged in nav -->
          	   {% if not session.logged_in %}
          	   		<form action="{{ url_for('login') }}" method=post class="pull-right">
						<input class="input-small" type="text" name="emailAddress" placeholder="Username"/>
						<input class="input-small" type="password" name="password" placeholder="Password"/>
                        <button class="btn" type="submit">Sign in</button>
					</form>
			   {% else %}
			   	    <ul class="nav.secondary-nav" class="pull-right" style="float:right">
           			<li><a href="{{ url_for('show_new_cases') }}">Cases</a></li>
            		<li><a href="{{ url_for('show_leaderboard') }}">Leaderboard</a></li>
            		<li><a href="{{ url_for('show_users', userName=session.emailAddress) }}">{{ session.emailAddress }}</a></li>
                </ul>
                    <form action="{{ url_for('logout') }}" method=post>
                      <button class="btn" type="submit">Sign out</button>
                    </form>
               {% endif %}
		
        </div>
      </div>
    </div

	<!-- This is some weird flask code that brings in messges == -->

    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}
    
    <!-- This brings in the body block of the html -->
    
    {% block body %}{% endblock %}
    
    <!-- This is the footer-->
    
    <footer>
    <center> © MEDuele 2011 <a href="{{ url_for('show_about') }}"> About Us </a> <a href="{{ url_for('show_contact') }}">Contact</a></center>
    <br />
	</footer>
    
</body>

<script src="{{ url_for('static', filename='main.js') }}"></script>

</html>
