{% extends "layout.html" %}

{% block body %}
  
  <div class="container">
      <div class="content">
          {% if notVerified %}
            <div class='offset1 span8'>
              <div class="alert-message warning span11">
                <!--<a class="close" href="#">&times;</a>-->
                <p><strong>Sorry!</strong>  We're still working on getting you verified.  Hang tight!</p>
              </div>
            </div>
          {% else %}
    		<div class="page-header">
				<h1>
					New Cases
					<small>Select one of the following:</small>
				</h1>
			</div>
			<div class="row">
				<table class="zebra-striped">
				<thead>
					<tr>
						<th class="header">Patient</th>
						<th class="header">Date Submitted</th>
						<th class="header">Length</th>
					</tr>
				</thead>
                <tbody>
                    {% for case in cases %}
					 <tr>
                         <td><a href="{{ url_for('show_patient', patientName=case.patientName) }}">{{ case.caseName }}</a></td>
                         <td>{{ case.timestamp }}</td>
                         <td>{{ case.duration }}s</td>
                    </tr> 
                    {% endfor %}
      			</tbody>
            </table>
            {% endif %}
            </div><!--/content-->
        </div><!--/container-->
  
{% endblock %}

