{% extends "layout.html" %}

{% block body %}

<div class="page-header">
    <h1>New Cases
        <small>choose a case to listen, comment and reply</small>
    </h1>
</div>
{% if notVerified %}
<div class='offset1 span8'>
    <div class="alert-message warning span11">
        <!--<a class="close" href="#">&times;</a>-->
        <p><strong>Sorry!</strong>  We're still working on getting you verified.  Hang tight!</p>
    </div>
</div>
{% else %}

<div class="row">
    {% if cases %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Case</th>
                <th>Caller</th>
                <th>Transcription</th>
                <th>Latest Comment</th>
                <th>Date of Call </th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
            <tr>
                <td><a href="{{ url_for('show_case', patientName=case.patientName, caseName=case.caseName) }}">{{ case.caseName }}</a></td>
                <td><a href="{{ url_for('show_patient', patientName=case.patientName) }}">{{ case.patientName }}</a></td>

                {% if case.transcriptionText %}
                <td>{{ case.transcriptionText }}</td>
                {% else %}
                <td><i>transcription not yet available</i></td>
                {% endif %}
                
                {% if case.latestComment %}
                <td>{{ case.latestComment.body }}</td>
                {% else %}
                <td><i>no comments yet</i></td>
                {% endif %}

                <td>{{ case.formattedTimestamp }}</td>
                <td>{{ case.duration }}s</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>

    {% else %}   {# no cases #}
    <div class='offset2 span8'>
        <div class="alert-message warning span11">
            <!--<a class="close" href="#">&times;</a>-->
            <i>there are no new, unresolved calls at this time</i>
        </div>
    </div>

    {% endif %} {# /cases check #}
</div> <!-- /row -->

{% endif %} <!-- /notVerified check -->

{% endblock %}

