{% extends "layout.html" %}

{% block body %}
  <div class="container">
      <div class="page-header" style="font-weight:normal">
        <h1>Become a Volunteer</h1>
      </div>
      
      <div class='row'>
      <div class='span3'>
        <p> Thanks for offering to help out!  Please fill out the info to the right and we'll be in touch!</p>
      </div>

        {#
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        #}

      <div class='offset1 span8'>
        <form action="{{ url_for('register') }}" method=post>
          <fieldset>
          <div class="clearfix">
            <label for="emailAddress">Email</label>
            <div class="input">
              <input class="xlarge" id="emailAddress" name="emailAddress" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->
          <div class="clearfix">
            <label for="userName">Username</label>
            <div class="input">
              <input class="xlarge" id="userName" name="userName" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->

          <div class="clearfix">
            <label for="password">Password</label>
            <div class="input">
              <input class="xlarge" id="password" name="password" size="30" type="password" />
            </div>
          </div><!-- /clearfix -->
          
          <div class="clearfix">
            <label for="password">Retype Password</label>
            <div class="input">
              <input class="xlarge" id="retypePassword" name="retypePassword" size="30" type="password" />
            </div>
          </div><!-- /clearfix -->
          
          <div class="clearfix">
            <label id="languages">Languages</label>
            <div class="input">
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="checkbox" name="languages" value="spanish" />
                    <span>Spanish</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="languages" value="mandarin" />
                    <span>Mandarin</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="languages" value="vietnamese" />
                    <span>Vietnamese</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="languages" value="french" />
                    <span>French</span>
                  </label>
                </li>
              </ul>
              <span class="help-block">
                please indicate your proficiency below
              </span>
            </div>
          </div><!-- /clearfix -->

          <div class="clearfix">
            <label for="bio">Bio</label>
            <div class="input">
              <textarea class="xxlarge" id="bio" name="bio" rows="4"></textarea>
              <span class="help-block">
                tell us about yourself, personally and professionaly.
              </span>
            </div>
          </div><!-- /clearfix -->

          <div class="clearfix">
            <label for="userName">How did you find us?</label>
            <div class="input">
              <input class="xlarge" id="howDidYouFindUs" name="howDidYouFindUs" size="30" type="text" />
            </div>
          </div><!-- /clearfix -->

          <div class="actions">
            <input type="submit" class="btn primary" value="Save">
          </div>

      </div>
      </div>
  </div>
{% endblock %}

