{% extends "layout.html" %}

{% block head %}

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
<!-- may be pointless to host the twilio lib since the lib itself goes to twilio for more anyway -->
<script src="{{ url_for('static', filename='js/twilio.min.js') }} "></script>
<script src="{{ url_for('static', filename='js/case-callback.js') }} "></script>

<script type="text/javascript">

//<![CDATA[
$(document).ready(function(){
  var mp3Target = "{{ case.url }}";
  mp3Target += '.mp3';
  $("#jquery_jplayer_1").jPlayer({
    ready: function (event) {
      $(this).jPlayer("setMedia", {
        mp3: mp3Target
      });
    },
    swfPath: "jPlayer.swf",   // path to the swf file; not sure how to get this in static
    supplied: "mp3",
    wmode: "window"
  });
});
//]]>

</script>
{# brutally overrides the bootstrap styles
<link href="{{ url_for('static', filename='jPlayer.css') }}" rel="stylesheet" type="text/css" />
#}
<link href="{{ url_for('static', filename='jPlayer/prettify-jPlayer.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='jPlayer/jplayer.blue.monday.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jPlayer/jquery.jplayer.min.js') }}"></script>

{% endblock %}

{% block body %}

<script>
  var js_token = "{{ token }}";

  try {
    Twilio.Device.setup(js_token);
    } catch (err) {
    console.log("Adobe Flash is required to use Twilio Client.");
  }

  Twilio.Device.ready(function (device) {
    $("#log").text("Ready");
  });

  Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
  });

  Twilio.Device.connect(function (conn) {
    $("#log").text("Successfully established call");
  });

  Twilio.Device.disconnect(function (conn) {
    $("#log").text("Call ended");
  });

  function call() {
    params = {'callSID': '{{ case.callSID }}'};
    Twilio.Device.connect(params);
    $("#call_button").text("Hang up");
    $("#call_button").attr('class', 'btn large danger call');
    $("#call_button").attr('onclick', '').click(function() { hangup(); });
  }

  function hangup() {
    Twilio.Device.disconnectAll();
    $("#call_button").text("Call");
    $("#call_button").attr('class', 'btn large primary call');
    $("#call_button").attr('onclick', '').click(function() { call(); });
  }

</script>


<div class="page-header">
    <h1>{{ case.formattedTimestamp }}
        <small>call from <a href="{{ url_for('show_patient', patientName=patientName) }}">{{ patientName }}</a></small>
    </h1>
</div>

<div class="row">

    <div class="span1">
        <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px; ">
            <img id="jp_poster_0" style="width: 0px; height: 0px; display: none; " alt=''/>
            <audio id="jp_audio_0" preload="metadata" src="{{ case.url }}"></audio>
        </div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <ul class="jp-controls">
                        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                        <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                    </ul>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                    <div class="jp-time-holder">
                        <div class="jp-current-time"></div>
                        <div class="jp-duration"></div>

                        <ul class="jp-toggles">
                            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                        </ul>
                    </div>
                </div>

                <div class="jp-no-solution">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div><!-- /jp_container_1 -->

    </div> <!-- /span -->

    <div class="offset10" style="margin-top:20px;">
        <button class="btn large primary call" id="call_button" onclick="call();">
            Call Back
        </button>
    </div>
</div>  <!-- /row -->

<br />

<div class='row'>
  <div class='span12'>

    <h4> Transcription</h4>
    {% if not case.transcriptionText %}
    <i> Transcription not yet available.</i>
    {% else %}
    <p> {{ case.transcriptionText }} </p>
    {% endif %}
  </div>

  <div class='span12' style='margin-top: 20px'>
    <h4> Comments</h4>
    <form action="{{ url_for('show_case', patientName=patientName, caseName=case.caseName) }}" method=post>
      <fieldset>
        <div class="clearfix">
          <div class="input">
            <textarea class="xxlarge" id="body" name="body" rows="3"></textarea>
            <span class="help-block">
              any comments on what the caller had to say or how you think we should proceed
            </span>
          </div>
        </div><!-- /clearfix -->

        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">

        <div class='clearfix' style='margin:-25px 0 0 40px'> {# should remove inline styling.. #}
          <input type="submit" class="btn success offset9" value="Comment">
        </div><!-- /clearfix -->

      </fieldset>
    </form>

    {% for comment in comments %}
    <blockquote>
      <p>{{ comment.body }}</p> 
      <small class='pull-right'>
        <a href={{ url_for('show_profile', userName=comment.author) }}>{{ comment.author }}</a> 
        {{ comment.dynamicFormattedTimestamp }}
      </small>
      <br />
    </blockquote>
    {% else %}
    <i> There are not yet any comments.</i>
    {% endfor %}
  </div> <!-- /span -->

</div> <!-- /row -->

<script type="text/javascript" src="{{ url_for('static', filename='jPlayer/prettify-jPlayer.js') }}"></script>

{% endblock %}

