{% extends "layout.html" %}
{% block body %}
  {% if caseName %}
    <h2><a href=" {{ url_for('show_cases', caseName=caseName) }}">{{ caseName }}</a></h2>
    {# expound extensively on this single case using the history var #}
    {#{% if case.callSID %}
    <p class='callSID' id='{{ entry.callSID }}'>{{ .callSID }}</a></h2>
    <p class='callRecording'>{{ entry

    {% endif %}t#}

  {% else %}
  <div class="container" style="margin-top:100px">
    	<div class="content">
    		<div class="page-header">
				<h1>
					New Patients
					<small>Select one of the following:</small>
				</h1>
			</div>
			<div class="row">
				<table class="zebra-striped">
				<thead>
					<tr>
						<th class="header">Patient</th>
						<th class="header">Date Submitted</th>
						<th class="header">Length</th>
					</tr>
                </thead>
				<tbody>
                {% for case in openCases %}
					 <tr>
                         <td><a href="{{ url_for('show_cases', caseName=case.caseName) }}">{{ case.caseName }}</a></td>
                         <td>{{ case.timestamp }}</td>
                         <td>{{ case.duration }}</td>
                    </tr> 
                {% else %}
                  <p> no open cases at this time. </p>
                {% endfor %}
      			</tbody>
            </table>
      		</div>
		</div>
    <ul class=cases>
      {% for case in openCases %}
        <li><h2><a href=" {{ url_for('show_cases', caseName=case.caseName) }}">{{ case.caseName }}</a></h2>
      {% else %}
        <li><em>Unbelieveable.  No cases created yet</em>
      {% endfor %}
    </ul>
  {% endif %}
    {#
    {% if comments %}
      <ul class=comments>
        {% for comment in comments %}
          <div class=comment>
            <p class=body> {{ comment.body }} </p>
            <p class=author> {{ comment.author }} </p>
            <p class=timestamp> {{ comment.timestamp}} </p>
          </div>
        {% else %}
          <div class=comment>
            <p class=empty> no comments at this time </p>
          </div>
        {% endfor %}
      </ul> 
      {% endif %}
      #}

      {# 
    {% if acceptComments %}
       <form action="{{ url_for('show_cases', caseName=case.name, action='add_comment') }}" method=post>
          <dl>
              <dd><textarea rows=5 cols=40 name=body></textarea>
              <dd><input type=submit value='Comment'>
          </dl>
      </form>
      {% endif %}
      #}

    
{% endblock %}

