{% extends "layout.html" %}

{% block body %}
  
  <div class="container" style="margin-top:100px">
    	<div class="content">
    		<div class="page-header">
				<h1>
					New Patients
					<small>Select one of the following:</small>
				</h1>
			</div>
			<div class="row">
				<table class="zebra-striped">
				<thead>
					<tr>
						<th class="header">Patient</th>
						<th class="header">Date Submitted</th>
						<th class="header">Length</th>
					</tr>
				</thead>
				<tbody>
					 <tr>
						<td><a href="#contact1">Howard Dinkins</a></td>
      					<td>10/1/2011 - 06:00</td>
      					<td>0:45</td>
      				</tr> 
      				<tr>
						<td><a href="#contact2">Kendra Smith</a></td>
      					<td>10/1/2011 - 08:00</td>
      					<td>1:40</td>
      				</tr>
      				<tr>
						<td><a href="#contact3">Johnny Dawkins</a></td>
      					<td>10/1/2011 - 07:00</td>
      					<td>0:20</td>
      				</tr>
      			</tbody>
      			</table
      		</div>
		</div>
  
{% endblock %}

