{% extends "layout.html" %}
{% block body %}
{# get history, maybe get caseName, and acceptComments #}
  {% if caseName %}
    <h2><a href=" {{ url_for('show_cases', caseName=caseName) }}">{{ caseName }}</a></h2>
    {# expound extensively on this single case #}
    {#{% if case.callSID %}
    <p class='callSID' id='{{ entry.callSID }}'>{{ .callSID }}</a></h2>
    <p class='callRecording'>{{ entry

    {% endif %}t#}

  {% else %}
    <ul class=cases>
      {% for case in cases%}
        <li><h2><a href=" {{ url_for('show_cases', caseName=case.name) }}">{{ case.name }}</a></h2>
      {% else %}
        <li><em>Unbelieveable.  No cases created yet</em>
      {% endfor %}
    </ul>
  {% endif %}
    {#
    {% if comments %}
      <ul class=comments>
        {% for comment in comments %}
          <div class=comment>
            <p class=body> {{ comment.body }} </p>
            <p class=author> {{ comment.author }} </p>
            <p class=timestamp> {{ comment.timestamp}} </p>
          </div>
        {% else %}
          <div class=comment>
            <p class=empty> no comments at this time </p>
          </div>
        {% endfor %}
      </ul> 
      {% endif %}
      #}

      {# 
    {% if acceptComments %}
       <form action="{{ url_for('show_cases', caseName=case.name, action='add_comment') }}" method=post>
          <dl>
              <dd><textarea rows=5 cols=40 name=body></textarea>
              <dd><input type=submit value='Comment'>
          </dl>
      </form>
      {% endif %}
      #}

    
{% endblock %}

