{% extends "layout.html" %}

{% block body %}
  
  <div class="container">
      <div class="page-header" style="font-weight:normal">
          <h1>About MEDuele</h1>
      </div>
      <div>
    <p>MEDuele is a phone service that connects patients to medical information and healthcare. For many patients, including non-English speakers and non-Internet users, access to medical information and healthcare can be difficult. The patient may not have Internet access to look up what to do or where to go. Her primary care physician may be booked for two weeks, or she may not even have health insurance. Free clinics may not be nearby and may not be open until next week. Lines at the emergency room may be too long for her work schedule, and she may not have a medical emergency to begin with.</p>
	
	<p>Enter MEDuele. The patient calls MEDuele, describing her symptoms to a recorded voicemail. The voicemail is automatically transcribed and is listed for volunteers to connect. After listening or
    reading the patient's call, a volunteer connects with the patient. By triaging the case, dispensing medical advice, and directing her to available clinics or hospitals, the volunteer provides otherwise inaccessible information to the patient.</p>
	
	<p>MEDuele takes this online hotline to the next level by empowering volunteers with computer-assisted healthcare technologies. Patient calls are flagged by language, allowing efficient matching of volunteers to patients. By recording the location of the phone call, MEDuele displays a Google Map of nearby clinics and hospitals for easy reference. Symptom keywords are listed and can be used to suggest key triage questions to ask the patient.</p>
	
	<p>Along with improving quality of life for MEDuele patients, we hope that MEDuele will:</p>
	<ul>
        <li>Alleviate overcrowding of emergency rooms with appropriate triaging</li>
        <li>Reduce health care costs by providing preventative care</li>
        <li>Publicize under-utilized health resources that otherwise would not be used.</li>
    </ul>
    </div>
    </div>
{% endblock %}

