{% extends "layout.html" %}
{% block body %}

<div class="container">
    {% if notVerified %}
    <div class='offset1 span8'>
        <div class="alert-message warning span11">
            <!--<a class="close" href="#">&times;</a>-->
            <p><strong>Sorry!</strong>  We're still working on getting you verified.  Hang tight!</p>
        </div>
    </div>
    {% else %}

    <div class="page-header">
        <h1>Case History of {{ patientName }}</h1>
    </div>

    <h2>Unresolved Cases</h2>
    {% if unresolved %} 
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Case</th>
                <th>Transcription</th>
                <th>Latest Comment</th>
                <th>Date of Call </th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for case in unresolved %}
            <tr>
                <td><a href="{{ url_for('show_case', patientName=patientName, caseName=case.caseName) }}">{{ case.caseName }}</a></td>

                {% if case.transcriptionText %}
                <td>{{ case.transcriptionText }}</td>
                {% else %}
                <td><i>transcription not yet available</i></td>
                {% endif %}

                {% if case.latestComment %}
                <td>{{ case.latestComment.body }}</td>
                {% else %}
                <td><i>no comments yet</i></td>
                {% endif %}

                <td>{{ case.formattedTimestamp }}</td>
                <td>{{ case.duration }}s</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
    {% else %}

    <div class='offset2 span8'>
        <div class="alert-message success span11">
            <!--<a class="close" href="#">&times;</a>-->
            <i>there are no unresolved cases at this time</i>
        </div>
    </div>

    {% endif %}

    <h2>Resolved Cases</h2>
    {% if resolved %} 
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Case</th>
                <th>Transcription</th>
                <th>Latest Comment</th>
                <th>Date of Call </th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for case in resolved %}
            <tr>
                <td><a href="{{ url_for('show_case', patientName=patientName, caseName=case.caseName) }}">{{ case.caseName }}</a></td>

                {% if case.transcriptionText %}
                <td>{{ case.transcriptionText }}</td>
                {% else %}
                <td><i>transcription not yet available</i></td>
                {% endif %}
                
                {% if case.latestComment %}
                <td>{{ case.latestComment.body }}</td>
                {% else %}
                <td><i>no comments yet</i></td>
                {% endif %}

                <td>{{ case.formattedTimestamp }}</td>
                <td>{{ case.duration }}s</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
    {% else %}

    <div class='offset2 span8'>
        <div class="alert-message warning span11">
            <!--<a class="close" href="#">&times;</a>-->
            <i>there are no resolved cases at this time</i>
        </div>
    </div>

    {% endif %}

    {% endif %} {# /notVerified check #}

</div><!--/container-->

{% endblock %}

